.axis line {
    fill: none;
    stroke: #8693a0;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 13px;
    fill: #6b6b6b;
}

.axis-title {
    font-size: 13px;
    fill: #888;
}

.x-axis .domain {
    stroke: #8693a0;
}

.y-axis .domain {
    display: none;
}

.chart-area {
    fill: #e9eff5;
}

.chart-line {
    fill: none;
    stroke-width: 2px;
}

.container {
    display: flex;
    flex-direction: row;
}

.visContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.axisLabel {
    font-size: 125%;
}

.container1 {
    border-right: 5px solid black;
}

.container2 {
    border-left: 5px solid black;
}